@model MVCAPP_TRAVELUPTASK.Models.TBLSTUDENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @*<h4>TBLSTUDENT</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STUD_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUD_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUD_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUD_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUD_DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUD_DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUD_MOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUD_MOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUD_CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUD_CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUD_COUNTRY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUD_COUNTRY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.STUD_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
